/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(50, 39, 51) !important;
  margin: 0;
  color: #cacaca;
  min-height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  background: linear-gradient(-135deg, #26072d, #312534);
  /* Base gradient background */
  overflow: hidden;
  height: 100vh;
}
s
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

.bg-green {
  background-color: #8ae18a;
}

.cursor-pointer {
  cursor: pointer;
}
