<div class="container container-fluid">
	<div class="row mt-4">
		<div class="col-md-6">
			<h1 class="text-4xl">{{ 'contributors' | translate }}</h1>
			<ul>
				<li *ngFor="let contributor of contributors">
					{{ contributor.name }}
				</li>
			</ul>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-6">
			<h2 class="text-3xl">Intra Meta RNCP Info</h2>
			<a href="https://meta.intra.42.fr/articles/rncp-7-certificate" target="_blank">Intra Meta RNCP Info</a>
		</div>
	</div>
</div>